- model_class = Pin

.col-lg-1= link_to t('.new', :default => t("helpers.links.new")), new_board_pin_path(@board), :class => 'btn btn-primary'

.col-lg-11#main{role: 'main'}

  #tiles
    =render @pins
  = paginate @pins, remote: true