= form_tag search_path, class: 'navbar-form navbar-left', method: :get do
	.form-group
		=text_field_tag :search, params[:search], class: 'form-control', placeholder:'Search'
	%button.btn.btn-default{type: 'submit'}
		%i.icon-search